// BEGIN BODY A LA UNE
%table.templateGrayBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #eff3f3;", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}

            // BEGING BODY TITLE A LA UNE 
            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "366"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;", :valign => "top"}
                            %h2 A LA UNE
                            %span{ style: "border-bottom: 2px solid #fc1200; display: block; width: 50px; padding-top: 10px;" }

                    %table.mcnTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "197"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;", :valign => "top"}

                            %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody.mcnButtonBlockOuter
                                %tr
                                  %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;", :valign => "top"}

                                    %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 1px solid #010101;border-radius: 0px;"}
                                      %tbody
                                        %tr
                                          %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 13px; padding: 10px;", :valign => "middle"}
                                            %a.mcnButton{:href => "http://www.lespritdujudo.com", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #010101; text-transform: uppercase;", :target => "_blank", :title => "VOIR + D'ACTUS"} VOIR + D'ACTUS
            // END BODY TITLE A LA UNE                  

            // BEGING BODY HEAD A LA UNE                               
            %table.mcnCaptionBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnCaptionBlockOuter
                %tr
                  %td.mcnCaptionBlockInner{:style => "padding:9px;", :valign => "top"}

                    %table.mcnCaptionRightContentOuter{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td.mcnCaptionRightContentInner{:style => "padding:0 9px ;", :valign => "top"}

                            %table.mcnCaptionRightImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                              %tbody
                                %tr
                                  %td.mcnCaptionRightImageContent{:valign => "top"}
                                    %img.mcnImage{:alt => "", :src => "#{image_path('newsletter/a-la-une-image.png')}", :style => "max-width:242px; border: 10px solid #FFFFFF", :width => "242"}/

                            %table.mcnCaptionRightTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "264"}
                              %tbody
                                %tr
                                  %td.mcnTextContent{:valign => "top"}
                                    %h3
                                      %span{ style: "font-size: 17px;" }
                                        GRAND PRIX DE CROATIE
                                      %span{ style: "border-bottom: 2px solid #fc1200; display: block; width: 50px; padding-top: 10px;" }  
                                    %br/
                                    La championne française était invaincue en 2014
                                    %br/
                                    %br/
                                    Pas de victoire française encore aujourd'hui, et pourtant on y croyait bien fort avec la présence de notre invincible Clarisse Agbegnenou
                                    %br/
                                    en -63 kg...
                                    %br/
                                    %br/
                                    %strong
                                      %a{:href => "http://www.lespritdujudo.com", :target => "_blank", style: "color: #fc1200;"} EN SAVOIR PLUS
            // END BODY HEAD A LA UNE
// END BODY BODY A LA UNE            
// BEGIN COLUMNS A LA UNE
%table.templateGrayColumns{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color:#eff3f3;", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.columnsContainer{:align => "left", :valign => "top", :width => "60%"}

            %table.templateColumn{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td.leftColumnContainer{:valign => "top"}

                  = render partial: 'newsletters/news/news_item'
                  
                  = render partial: 'newsletters/divider' 

                  = render partial: 'newsletters/news/news_item'
                  
                  = render partial: 'newsletters/divider' 

                  = render partial: 'newsletters/news/news_item'

          %td.columnsContainer{:align => "left", :valign => "top", :width => "30%"}
          
            %table.templateColumn{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td.rightColumnContainer{:valign => "top"}

                  %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tbody.mcnTextBlockOuter
                      %tr
                        %td.mcnTextBlockInner{:valign => "top"}

                          %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "200"}
                            %tbody
                              %tr
                                %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}

                                  %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                                    %tbody
                                      %tr
                                        %td.mcnImageContent{:style => "padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;", :valign => "top"}
                                          %img.mcnImage{:align => "center", :alt => "", :src => "#{image_path('newsletter/a-la-une-pub.png')}", :style => "max-width:157px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 10px solid #FFFFFF;"}/
// END COLUMNS A LA UNE
// BEGIN FOOTER A LA UNE
%table.templateGrayBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #eff3f3;", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px; text-align: center;", :valign => "top"}
                            %span{ style: "color: #000000;" }
                              Retrouvez toute l’info  judo en continu sur le site de l’Esprit du Judo”
// END FOOTER A LA UNE                                                
// BEGIN BUTTON A LA UNE
%table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", class: "templateGrayBody", style: "background-color: #eff3f3;"}
  %tbody.mcnButtonBlockOuter
    %tr
      %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;", :valign => "top"}
      
        %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 1px solid #FC1200;border-radius: 0px;"}
          %tbody
            %tr
              %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 13px; padding: 10px;", :valign => "middle"}
                %a.mcnButton{:href => "http://www.lespritdujudo.com", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FC1200;  text-transform: uppercase;", :target => "_blank", :title => "VISITER LE SITE"} VISITER LE SITE
// END BUTTON A LA UNE