%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/pre_header'

%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/header'

%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/news/featured_news'
    
%tr
  %td{:align => "center", :valign => "top"}    
    = render partial: 'newsletters/news/news_body'

%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/magazine/magazine_body'
    
%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/stages/stages_body'
    
%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/boutique/boutique_body'
    
%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/calendrier/calendrier_body'
    
%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/pre_footer'

%tr
  %td{:align => "center", :valign => "top"}
    = render partial: 'newsletters/footer'
