= para_form_for(resource) do |form|
  = form.error_notification

  = form.fieldset do
    = form.input :string
    = form.input :textarea, as: :redactor
    = form.input :number
    = form.input :slider, as: :slider, :wrapper => :horizontal_form
    = form.input :checkbox, :wrapper => :horizontal_radio_and_checkboxes
    = form.input :radio, as: :radio_buttons, :wrapper => :horizontal_radio_and_checkboxes
    = form.input :date, :wrapper => :horizontal_form
    = form.input :time, :wrapper => :horizontal_form
    = form.input :datetime, :wrapper => :horizontal_form
    = form.input :image, :as => :image
    = form.input :file, :as => :file, :wrapper => :horizontal_file_input

  = form.actions
