= para_form_for(resource) do |form|
  = form.error_notification

  = form.fieldset do
    = form.input :title
    = form.input :caption
    = form.input :url
    = form.input :category_id, :as => :selectize, :collection => Category.order(name: :asc)
    = form.input :tag_list, input_html: { class: 'selectize-tags' }

  = form.actions
