!!!
%html{:dir => 'ltr', :lang => I18n.locale}
  %head
    = meta_tags
    = csrf_meta_tags

    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true

    /[if lt IE 9]
      %script{ src: 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
      %script{ src: 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' }

    = javascript_include_tag 'modernizr'
    = javascript_include_tag 'google_analytics', class: "cc-onconsent-analytics", type: "text/plain"

  %body{ class: params[:controller] }
    = render partial: 'shared/outdatedbrowser'

    %header.navbar.navbar-default{ role: 'banner' }
      .container
        = render partial: 'shared/navigation'

    = display_flash

    = yield

    = javascript_include_tag 'application', :'data-turbolinks-track' => true, :'data-turbolinks-eval' => false

    = javascript_include_tag 'outdatedBrowser-config', :'data-turbolinks-track' => true, :'data-turbolinks-eval' => false
    